<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./css/footer.css">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap" rel="stylesheet">
    </head>
    <body>
        <footer onmouseover="showToolbar(true)" onmouseout="showToolbar(true)" onclick="showToolbar(false)">
            <div id="footer-div">
                <p id="f-powered-by">Powered by Team 7636 × 達特法數位科技</p>
                <a id="f-source-code" href="https://github.com/wang-jia-hong/ScoutingSystem2023.git" target="_blank"><img id="github-mark" src="./github-mark-white.svg">ScoutingSystem2023</a>
                <div id="f-logo-div" class="f-logo-div">
                    <img id="f-logo" src="./7636Logo.PNG"/>
                </div>
            </div>
            <div id="toolbar-div" class="toolbar-div">
                <div id="f-link-div">
                    <ul id="f-ul">
                        <li class="f-li" id="f-link-li-1"><a class="f-link-a <% if(gameType === '1') { %> f-link-a-selected <% } %>" href="/result/1<%if(typeof analyzeData != 'undefined' && gameType !== '1'){ %>/<%= analyzeData.teamNumber %> <% } %>" >practice</a></li>
                        <li class="f-li" id="f-link-li-2"><a class="f-link-a <% if(gameType === '2') { %> f-link-a-selected <% } %>" href="/result/2<%if(typeof analyzeData != 'undefined' && gameType !== '2'){ %>/<%= analyzeData.teamNumber %> <% } %>">qualification</a></li>
                        <li class="f-li" id="f-link-li-3"><a class="f-link-a  <% if(gameType === '3') { %> f-link-a-selected <% } %>" href="/result/3<%if(typeof analyzeData != 'undefined' && gameType !== '3'){ %>/<%= analyzeData.teamNumber %> <% } %>">playoff</a></li>
                    </ul>
                </div>

                <div id="f-tool-div">
                    <ul id="f-ul">
                        <li class="f-li"><button class="f-tool-btn" onclick="showFilter()">filter</button></li>
                </div>
                <div></div>
            </div>
        </footer>

        <script src="./js/footer.js" type="text/javascript"></script>
    </body>
</html>