<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                height: 100vh;
                background-color: var(--logoBlue);
            }
            main {
                width: 100%;
                height: 85vh;
            }
            #m-table-div {
                position: relative;
                left: 7.5%;
                height: 80%;
                width: 85%;
            }
        </style>
    </head>
    <body>
        <header id="header">
            <%- include('../template/header') %>
        </header>
        
        <main>
            <div id="m-table-div">
                <%- include('../template/AllTeamTable') %>
            </div>
        </main>
        
    </body>
</html>