<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap" rel="stylesheet">
        <style>
            :root {
                --logoBlue: #002a5c;
            }

            body {
                width: 100vw;
                height: 100vh;
                background-color: var(--logoBlue);
                padding: 0;
                margin: 0;
            }

            #main-div {
                width: 100%;
                height: 60%;
                position: fixed;
                top: 5vh;
            }

            #logo-div {
                width: 18%;
                aspect-ratio: 1 / 1;
                position: absolute;
                left: 10%;
                bottom: 0;
                display: flex;
                justify-content: center;
            }

            #logo {
                width: 100%;
                filter: drop-shadow(#96A7FF 0px 0px 15px) drop-shadow(#96A7FFaa 0px 0px 5px);;
            }

            #title-div {
                width: 50%;
                height: 25%;
                position: absolute;
                right: 10%;
                bottom: 5%;
                display: flex;
                align-items: center;
            }

            #title {
                color: #ffffff;
                font-size: 65px;
                font-family: 'Alegreya Sans SC', cursive;
                letter-spacing: 10px;
                filter: drop-shadow(rgba(255, 242, 242, 0.95) 0px 0px 0.617169px) drop-shadow(rgba(255, 255, 255, 0.75) 0px 0px 3.08585px) drop-shadow(rgba(255, 255, 255, 0.44) 0px 0px 9.25754px);
            }

            #next-div {
                width: 100%;
                height: 15%;
                position: fixed;
                bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ffffff;
                font-size: 60px;
            }
        </style>
    </head>
    <body>
        <div id="main-div">
            <div id="logo-div">
                <img src="./7636Logo.png" id="logo">
            </div>
    
            <div id="title-div">
                <h1 id="title">Check the result scouted by us</h1>
            </div>
        </div>
        <div id="next-div">
            <i class="fa-solid fa-chevron-down ft-lg"></i>
        </div>
    </body>

    <script src="https://kit.fontawesome.com/3034cde1c1.js" crossorigin="anonymous"></script>
</html>