footer {
    background-color: var(--logoBlue);
    width: 100%;
    height: 4%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    box-shadow: var(--logoBlue) 0 0 20px;
}

#footer-div {
    width: 100%;
    height: 100%;
    background-color: var(--logoBlue);
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 120;
}

#f-powered-by {
    width: fit-content;
    height: 4%;
    margin: 0;
    color: #ffffff;
    font-family: Raleway;
    position: fixed;
    bottom: 0;
    left: 2%;
    display: flex;
    align-items: center;
    font-size: var(--pageFontSize);
}

#f-source-code {
    width: fit-content;
    height: 4%;
    margin: 0;
    color: #ffffff;
    font-family: Raleway;
    position: fixed;
    bottom: 0;
    left: calc(var(--pageFontSize) * 25);
    display: flex;
    align-items: center;
    font-size: var(--pageFontSize);
}

#github-mark {
    height: 50%;
    margin: 0px calc(var(--pageFontSize) * 0.8 ); 
}

#f-source-code-link {
    color: #ffffff;
}

.f-logo-div {
    width: 8%;
    aspect-ratio: 1 / 1;
    border-radius: 2vmin;
    background-color: var(--logoBlue);
    position: absolute;
    bottom: 0%;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--logoBlue) 0 0 20px;
    z-index: 150;
    transition: 0.6s;
}

.f-logo-div-noShadow {
    box-shadow: transparent 0 0 20px;
    transition: 1s;
}

#f-logo {
    width: 70%;
}

.toolbar-div {
    width: 100%;
    aspect-ratio: 100 / 1;
    background-color: var(--logoBlue);
    position: absolute;
    bottom: 0;
    border-radius: 2vmin;
    z-index: 110;
    box-shadow: var(--logoBlue) 0 0 20px;
    transition: 1.2s;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.toolbar-div-show {
    aspect-ratio: 100 / 8;
    transition: 0.5s;
}