:root {
    --cBtnW: 0;
    --cBtnH: 0;
    --cBtnMarginTop: 0;
    --cBtnMarginLeft: 0;
    --cBtnFontSize: 0;

    --mBtnW: 0;
    --mBtnH: 0;
    --mBtnMarginTop: 0;
    --mBtnMarginLeft: 0;
    --mBtnFontSize: 0;

    --dBtnW: 0;
    --dBtnH: 0;
    --dBtnMarginTop: 0;
    --dBtnMarginLeft: 0;
}

.count-dialog {
    border: none;
    box-shadow: 0 0 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
    min-width: 200px;
    min-height: 200px;
    user-select:none;
}

.count-dialog-div {
    background-color: black;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    min-width: 200px;
    min-height: 200px;
}

dialog:modal {
    position: fixed;
    inset-block-start: 0px;
    inset-block-end: 0px;
    max-width: 100%;
    max-height: 100%;
    user-select: text;
    visibility: visible;
    overflow: auto;
}

.cargo-div {
    border: 0;
    border-style: dotted;
    width: 97%;
    height: 67%;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    top: 2.5%;  
    left: 1.5%;
    float:left;
    box-shadow: #ffdfdf73 2px 2px 25px;
    border-radius: 50px;
}

.cargo-row-div {
    min-width: 500px;
}

.cargo-btn {
    width: var(--cBtnW);
    height: var(--cBtnH);
    margin-top: var(--cBtnMarginTop);
    margin-left: var(--cBtnMarginLeft);
    border-radius: 50%;
    padding: 0;
    border: 0;
    font-size: var(--cBtnFontSize);
    background-color: #000000;
    color: #4c4c4c;
    box-shadow: #4c4c4c 0px 0px 25px, inset #4c4c4c 0px 0px 25px;
}


.move-div{
    border: 2.4px;
    border-style: dotted;
    width: 60%;
    height: 18%;
    position: relative;
    top: 10%;
    left: 1.5%;
    float:left;
    box-shadow: #ffdfdf73 2px 2px 25px;
    border-radius: 50px;
}

.move-btn {
    width: var(--mBtnW);
    height: var(--mBtnH);
    margin-top: var(--mBtnMarginTop);
    margin-left: var(--mBtnMarginLeft);
    border-radius: 50%;
    padding: 0;
    border: 0;
    font-size: var(--mBtnFontSize);
    background-color: #000000;
    color: #4c4c4c;
    box-shadow: #4c4c4c 0px 0px 25px, inset #4c4c4c 0px 0px 25px;
}

.done-div {
    border: 0;
    width: 15%;
    height: 18%;
    position: relative;
    top: 10%;  
    left: 6%;
    float:left;
    box-shadow: #ffdfdf73 2px 2px 25px;
    border-radius: 50px;
}

.done-btn {
    width: var(--mBtnW);
    height: var(--mBtnH);
    margin-top: var(--dBtnMarginTop);
    margin-left: var(--dBtnMarginLeft);
    border-radius: 50%;
    padding: 0;
    border: 0;
    font-size: var(--mBtnFontSize);
    background-color: #000000;
    color: #4c4c4c;
    box-shadow: #4c4c4c 0px 0px 25px, inset #4c4c4c 0px 0px 25px;
}

.full-screen-div {
    border: 0;
    width: 10%;
    height: 18%;
    position: relative;
    top: 10%;  
    left: 7%;
    float:left;
    display: none;
}

.full-screen-btn {
    width: var(--mBtnW);
    height: var(--mBtnH);
    margin-top: var(--dBtnMarginTop);
    margin-left: var(--dBtnMarginLeft);
    border-radius: 50%;
    padding: 0;
    border: 0;
    font-size: var(--mBtnFontSize);
    background-color: #000000;
    color: #ffe0e0;
    animation: rotate 2s linear infinite; 
}

