#s-form {
    width: var(--w);
    
}

.s-input-div {
    width: 90%;
    margin: 3% 5%;
    text-align: left;
    font-size: 200%;
}

.s-label {
    display: block;
    width: 100%;
    margin-bottom: 1%;
}

.s-input {
    width: 100%;
    height: 2%;
    margin-bottom: 3%;
    font-size: 150%;
}

#submit-btn-div {
    text-align: center;
}